.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 100px;
  width: 100%;
}

.input {
  width: 200px;
  height: 20px;
  border: 2px solid aqua;
}

.gameButton {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: black;
  padding: 10px;
  border: none;
  display: inline-block;
  outline: none;
}

.gameButton:hover {
  color: yellow;
  cursor: pointer;
  outline: none;
}

.gameButton:active {
  outline: none;
  background: red;
}